.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.add-form {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

    .add-form h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black;
    }

    .add-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: black;
    }

    .add-form input,
    .add-form textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        color: black;
        box-sizing: border-box;
    }

        .add-form input:focus,
        .add-form textarea:focus {
            outline: none;
            border-color: #45a049;
        }

.back {
    color: black;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

    .back:hover {
        color: snow;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
    }

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: rgba(0, 0, 0, 0.6);
        color: snow;
    }

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: center;
}
